@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  overflow: overlay;
}

::-webkit-scrollbar-track {
  background: #1f1f1f50;
  backdrop-filter: blur(10px);
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-scrollbar {
  width: 10px;
}

::-moz-scrollbar-track {
  background: #f1f1f1;
}

::-moz-scrollbar-thumb {
  background: #888;
}

::-moz-scrollbar-thumb:hover {
  background: #555;
}
